.works__item {
  position: relative;
  display: inline-block;
  min-height: 0px;
  overflow: hidden;
}

.works__item__image {
  width: 100%;
  -ms-transform: rotate(0) scale(1);
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -moz-transition: transform .6s ease-in-out;
  -webkit-transition: transform .6s ease-in-out;
  -o-transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
}

.works__item:hover .works__item__image {
  -ms-transform: rotate(20deg) scale(1.5);
  -webkit-transform: rotate(20deg) scale(1.5);
  transform: rotate(20deg) scale(1.5);
  -moz-transition: transform .6s ease-in-out;
  -webkit-transition: transform .6s ease-in-out;
  -o-transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
}

.works__item__image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  -moz-transition: background .6s ease-in-out;
  -webkit-transition: background .6s ease-in-out;
  -o-transition: background .6s ease-in-out;
  transition: background .6s ease-in-out;
}

.works__item:hover .works__item__image:before {
  background: rgba(100,100,100, 0.7);
  -moz-transition: background .6s ease-in-out;
  -webkit-transition: background .6s ease-in-out;
  -o-transition: background .6s ease-in-out;
  transition: background .6s ease-in-out;
}

.works__item__text {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  color: white;
  line-height: normal;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: opacity .6s ease-in-out;
}

.works__item:hover .works__item__text {
  opacity: 1;
  transition: opacity .6s ease-in-out;
}