.about {
  padding: 5% 15%;
  background-image: url("images/home/piano-glitch.jpg");
  background-position: center;
  background-size: 140%;
}

.about__icon {
  position: absolute;
  margin-left: -50px;
  font-size: 6rem;
  font-family: "Times New Roman";
  transform: rotate(-180deg);
}

.about__text {
  font-size: 1.4rem;
  text-align: left;
}